@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --darkblue: #0c091d;
    }
}

/*@layer base {
    @font-face {
        font-family: "Manrope";
        src: url("../assets/fonts/Manrope-Bold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Manrope";
        src: url("../assets/fonts/Manrope-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }
}*/

@layer base {
    body {
        @apply /*font-manrope*/ bg-darkblue text-foreground bg-background;
    }
    html {
        @apply scroll-smooth;
    }
    h1 {
        @apply mb-10 font-bold text-3xl;
    }
    h3 {
        @apply mb-2 font-bold text-base;
    }
}
